.hidden {
  display: none;
}
#seat {

}
ul {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7%, auto));
  justify-items: center;


}
li {
 
}
button {
  background-color: skyblue;

}

.private {
  background-color: blanchedalmond;

}