.hidden {
  display: none;
}
#seat {

}
ul {
  justify-content: center;
  display: grid;
  /* grid-template-columns : 1fr 1fr 1fr 1fr 1fr 1fr ;
   */
   grid-template-columns: repeat(auto-fill, minmax(7%, auto));
   justify-items: center;


}
li {
 
}
button {
  /* display: flex;
  flex-direction: column; */

}